#header{height: 20px;} 

*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


body{
	font:15px/1.3 'Open Sans', sans-serif;
	/*color: #5e5b64;*/
	text-align:center;
        /*background-color: #c7b39b;*/
        /*background-image: url("img/b2.jpg") ;*/
        /*background-size:cover ;*/
}
.football{
    width: 100%; min-width: 100%; min-height: 80%;
    background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)), url('resource/img/football/1.jpg');
    background-position:top center ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
}
.my1{width: 100%; min-width: 100%; min-height: 85%;
     margin: 0; padding: 0;
      position: absolute; 
      
      /*background-color: saddlebrown;*/
    /*background-image: url('img/b2.jpg') ;*/
    background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)), url('img/b2.jpg');
    /*background-attachment: fixed;*/
    /*background-position:0px 40px ;*/
    background-position:top center ;

    background-repeat: no-repeat;
    background-size: 100% 90%;
    /*opacity: 0.1;*/
}

/*div p{opacity: 0.9;}*/
/*div.main{
    background: url('img/b2.jpg') no-repeat 100% 100% ;
}*/
.footer {background: #35886E; padding: 1px; color: #fff; position:absolute; bottom:0; width: 100%; height: 3%}
    

#logo {text-align: center} 
#logo img {display: inline-block;
    height: 70px; }

.dropdown-menu {
    background-color: #ccc;
}

.navbar{margin-bottom: 0;}

/*#myNavbar ul li {
    border-right: 1px solid #bbb;
    padding-left: 5px ;
}*/
#myNavbar ul li a:hover {
    background-color:blueviolet; 

    
}

#myNavbar ul li a:active {
    background-color: green;
}

#myNavbar ul li a:hover {
    background-color:blueviolet; 

    
}

#myNavbar ul li a:active {
    background-color: green;
}

#myNavbar ul li :active {
    background-color: green;
    color: greenyellow;
}

.box{
    margin: 20px auto;  

}

.description {width: 700px;
    min-height: 200px;
    background-color: #77d2cd;
    border-color: darkcyan;
    
}
.bordered{border-style: solid;
          border-radius: 10px;
          border-width: 1px;
          box-shadow: 2px 2px 15px #204d74;
}
.bordered1{border-style: solid;
        border-radius: 10px;
        border-width: 1px;
        box-shadow: 2px 2px 15px #204d74;
        min-height: 200px;
        margin-right:10px;
}


.shedule{
         background-color: #ce9dc1;
         border-color: darkorchid;

}
.teams{
    background-color: rgba(194, 204, 14, 0.44);
}
    
.registr{
    background-color: rgba(9, 206, 58, 0.5);
}

a div{color: black;}
table {font-size: 16px;
    margin-top: 10px;}

.table td{
    border: indigo solid 1px !important;
}
.table th{
    border: indigo solid 1px !important;
}
